#vid-content {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);

    margin-bottom: 50px;
}
.main {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);

    margin-bottom: 50px;
    padding: 10px;
}

.recipe-info {
    display: inline-flex;
}

.recipe-info li {
    list-style-type: none;
    font-size: 16px;
    margin: 10px;
    text-align: center;
}

.recipe-container {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}

.img-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    padding: 10px;
    padding-bottom: 40px;
}

img {
    width: 300px;
    height: 200px;
    margin-top: 10px;
    border: 1px solid black;
}

.instruction {
    border: 1px solid teal;
}

.howto {
    width: 800px;
    height: 300px;
    margin-top: 10px;
    margin-left: 20px;
    padding: 10px;
}

.howto p {
    text-align: justify;
}

.ingredient-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
}

.ingredient {
    width: 40%;
    border: 1px solid blue;
    padding: 15px;
}

.ingredient ul {
    display: grid;
    list-style-type: none;
    padding: 2px;
}

.video {
    width: 50%;
}
