#vid-content {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);

    margin-bottom: 50px;
}
.main {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);

    margin-bottom: 50px;
    padding: 10px;
}

.recipe-info {
    display: flex;
}

.recipe-info li {
    list-style-type: none;
    font-size: 16px;
    margin: 5px;
    text-align: center;
    margin: 0 auto;
}

.recipe-container {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}

.img-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    padding: 10px;
    padding-bottom: 40px;
}

img {
    width: 300px;
    height: 300px;
    margin-top: 10px;
    border-radius: 5px;
}

.howto {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
}

.howto p {
    text-align: justify;
    line-height: 1.5;
}

#myBtn {
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.ingredient-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
}

.ingredient {
    width: 40%;
    padding: 15px;
}

.ingredient ul {
    display: grid;
    list-style-type: circle;
    padding: 10px;
}

.video {
    width: 50%;
}

#more {
    display: none;
}

/* iphone 5 */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    .main {
        width: 100%;
    }
    .recipe-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .recipe-container > h3 {
        font-size: 17px;
    }

    .recipe-info li {
        font-size: 14px;
    }

    .img-container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    img {
        width: 100%;
    }

    .howto {
        width: 250px;
        margin: 0 auto;
        margin-top: 10px;
        padding: 10px;
    }

    #vid-content {
        width: 100%;
    }
    .ingredient-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .vid-tag {
        width: 350px;
        font-size: 15px;
    }

    iframe {
        width: 250px;
        margin: 0 auto;
    }

    .ingredient {
        width: 100%;
    }
}

/* iphone 6, 7, 8 */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    .main {
        width: 100%;
    }
    .recipe-info {
        display: flex;
        flex-direction: row;
    }

    .recipe-container > h3 {
        font-size: 15px;
    }

    .recipe-info li {
        font-size: 14px;
        text-align: left;
    }

    .img-container {
        display: flex;
        flex-direction: column;
    }
    img {
        width: 100%;
    }

    .howto {
        width: 300px;
        margin-top: 10px;
        padding: 10px;
    }

    #vid-content {
        width: 100%;
    }
    .ingredient-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .vid-tag {
        width: 350px;
        font-size: 15px;
    }

    iframe {
        width: 310px;
        margin: 0 auto;
    }

    .ingredient {
        width: 100%;
    }
}

/* Iphone 6/7/8 plus */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
    .main {
        width: 100%;
    }
    .recipe-info {
        display: flex;
        flex-direction: row;
    }

    .recipe-container > h3 {
        font-size: 15px;
    }

    .recipe-info li {
        font-size: 14px;
        text-align: left;
    }

    .img-container {
        display: flex;
        flex-direction: column;
    }
    img {
        width: 100%;
    }

    .howto {
        width: 350px;
        padding: 10px;
        /* margin: 0 auto; */
        margin-top: 10px;
    }

    #vid-content {
        width: 100%;
    }
    .ingredient-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .vid-tag {
        width: 350px;
        font-size: 15px;
    }

    iframe {
        width: 350px;
        margin: 0 auto;
    }

    .ingredient {
        width: 100%;
        margin-top: 10px;
    }
}

/* Iphone X */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    .main {
        width: 100%;
    }
    .recipe-info {
        display: flex;
        flex-direction: row;
    }

    .recipe-container > h3 {
        font-size: 15px;
    }

    .recipe-info li {
        font-size: 14px;
        text-align: left;
    }

    .img-container {
        display: flex;
        flex-direction: column;
    }
    img {
        width: 100%;
    }

    .howto {
        width: 240px;
        padding: 10px;
        margin: 0 auto;
        margin-top: 10px;
    }

    #vid-content {
        width: 100%;
    }
    .ingredient-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .vid-tag {
        width: 350px;
        font-size: 15px;
    }

    iframe {
        width: 300px;
        margin: 0 auto;
    }

    .ingredient {
        width: 100%;
        margin-top: 10px;
    }
}

/* samsung */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
    .main {
        width: 100%;
    }
    .recipe-info {
        display: flex;
        flex-direction: row;
    }

    .recipe-container > h3 {
        font-size: 16px;
    }

    .recipe-info li {
        font-size: 14px;
        text-align: left;
        margin: 0 auto;
    }

    .img-container {
        display: flex;
        flex-direction: column;
    }
    img {
        width: 100%;
    }

    .howto {
        width: 240px;
        padding: 10px;
        margin: 0 auto;
        margin-top: 10px;
    }

    #vid-content {
        width: 100%;
    }
    .ingredient-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .vid-tag {
        width: 320px;
        font-size: 15px;
    }

    iframe {
        width: 300px;
        margin: 0 auto;
    }

    .ingredient {
        width: 100%;
        margin-top: 10px;
    }
}

/* Ipads */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .img-container {
        display: flex;
        flex-direction: column;
    }
    img {
        width: 100%;
    }

    .howto {
        width: 100%;
        padding: 10px;
        margin: 0 auto;
        margin-top: 10px;
    }

    .ingredient-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .vid-tag {
        width: 500px;
        font-size: 18px;
    }

    iframe {
        width: 650px;
        margin-left: auto;
        margin-right: auto;
    }

    .ingredient {
        width: 100%;
        margin-top: 10px;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
    iframe {
        width: 895px;
    }
}

/* surface duo */
@media only screen and (min-device-width: 540px) and (max-device-width: 720px) and (-webkit-min-device-pixel-ratio: 2) {
    .howto {
        width: 100%;
        padding: 10px;
        margin: 0 auto;
        margin-top: 10px;
    }

    .vid-tag {
        width: 500px;
        font-size: 18px;
    }

    iframe {
        width: 480px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Responsive */
@media only screen and (min-device-width: 1147px) and (max-device-width: 1403px) {
    .ingredient-container {
        display: flex;
        flex-direction: column-reverse;
    }
}

/* laptops */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    .ingredient-container {
        display: flex;
        flex-direction: row-reverse;
    }
}
